@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: 'VT323';
    background-color: #850099;
    background-image: url("./laserbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    color: #1E1D3D;
    filter: blur(1px);
}

header, h1, a {
    font-size: 40px;
    color: #FEFF38;
    text-align: center;
}

h1 {
    position: absolute;
    margin-top: 30px;
    transform: rotate(20deg);
}

.contact {
    margin-left: 250px;
    margin-top: 120px;
}

.banner {
    color: #FEFF38;
    font-size: 60px;
    position: absolute;
    top: 80px;
    transform: rotate(-20deg);
}

/* Search Area Styling*/

.form {
    padding: 10px auto;
    font-size: 20px;
}

.input-group {
    transform: skew(10deg);
    margin: 10px auto;
}

#search-btn {
    background-color: #850099;
}

.btn-holder {
    border: 1px solid#850099;
    transform: skew(10deg);
    margin: 10px 0;
}

.saveBtn {
    font-size: 24px;
    width: 100%;
}

.search-col {
    display: block;
    font-size: 16px;
    border: 5px solid#850099;
    margin-top: 60px;
    margin-right: 40px;
    transform: skew(-5deg);
    background-image: linear-gradient(to bottom right, #fb8dfa, #8fecff);
    box-shadow: 5px 5px 10px 5px #00cc91;
}

/* Display Area */

.today, .card {
    background-color: #8fecff;
    border: 5px solid#850099;
    margin: 5px auto;
    transform: skew(5deg);
    background-image: linear-gradient(to bottom left, #fb8dfa, #8fecff);
    box-shadow: 5px 5px 10px 5px #00cc91;
}

.today {
    font-size: 36px;
    padding-left: 10px
}

.card {
    font-size: 18px;
    transform: rotate(20deg);
    transform: skew(-5deg);
}

.five-day-text {
    padding-left: 5px;
}

.five-day {
    margin-top: 73px;
    transform: rotate(-20deg);
}

.fa {
    font-size: 30px;
    width: 25px;
    text-decoration: none;
    color: #FEFF38;
}

/* Remove angular styling, other adjustments for smaller screen sizes */

@media screen and (max-width: 520px) {
    h1 {
        transform: rotate(0deg);
    }
    .banner {
        display: none;
    }
    .input-group {
        transform: skew(0deg);
    }
    #searchField {
        width: 100%;
    }
    .btn-holder {
        transform: skew(0deg);
    }
    .saveBtn {
        font-size: 12px;
    }
    .search-col {
        margin-top: 5px;
        margin-right: 5px;
        transform: skew(0deg);
    }
    .today, .card {
        transform: skew(0deg);
    }
    .five-day {
        margin-top: 80px;
        transform: rotate(0deg);
    }
    .contact {
        margin-left: 0px;
        margin-top: 0px;
    }
}